.imgtable{
  height: 520px;
  margin-left: -40px;
}
.avatar1{
	width:8vw;
	height:15vh;
	border-radius:50%;
	position:absolute;
	top:20%;
	left:8%;
}
.avatar2{
	width:8vw;
	height:15vh;
	border-radius:50%;
	position:absolute;
	top:0%;
	left:25%;
}
.avatar3{
	width:8vw;
	height:15vh;
	border-radius:50%;
	position:absolute;
	top:0%;
	left:45%;
}
.avatar4{
	width:8vw;
	height:15vh;
	border-radius:80%;
	position:absolute;
	top:20%;
	left:85%;
}
.avatar5{
	width:8vw;
	height:15vh;
	border-radius:50%;
	position:absolute;
	top:77%;
	left:45%;
}
.avatar6{
	width:8vw;
	height:15vh;
	border-radius:50%;
	position:absolute;
	top:0%;
	left:65%;
}
