<section>
  <app-nav></app-nav>
  <app-leftbtn></app-leftbtn>
  <app-btndownbanner></app-btndownbanner>
</section>
<div class="backcard2">
          <img src="assets/img/avatar5.png" alt="avatar" class="avatar1"/>
          <img src="assets/img/avatar5.png" alt="avatar" class="avatar2"/>
          <img src="assets/img/avatar5.png" alt="avatar" class="avatar3"/>
          <img src="assets/img/avatar5.png" alt="avatar" class="avatar4" />
          <img src="assets/img/avatar5.png" alt="avatar" class="avatar5" />
          <img src="assets/img/avatar5.png" alt="avatar" class="avatar6" />
</div>
