<div class="forgotpass">
<div class="uk-card uk-card-default uk-width-1-2@m uk-width-1-1@s forpass">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <h3 class="uk-card-title titl">Forgot Password</h3>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
      <form>
        <fieldset class="uk-fieldset">
            <div class="uk-margin inp4">
              <br>
              <input class="uk-input ip4" type="text" placeholder="Registered mobile or email">
            </div>
        </fieldset>
      </form>
    </div>
    <div class="uk-card-footer">
        <span>we will send u a link</span>
    </div>
</div>
</div>
