
 .arrow{
  padding-left: 30px;
  margin-top: 30px;
  width: 50px;

}

 .bord{
   border: 1px solid;
   background-color: #dd4b39;
   height: 10px;
   width: 100%;
top:20px
 }


.imgh
{
  position: absolute;
  margin-top: 482px;
  margin-left: 100px
}
.imghml{
  margin-left: 40px;
  margin-top: 5%;
}
.cardrl{
  margin-top:50px;
  margin-right: 25px;
}
.dot {
  height: 30px;
  width: 30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.text {
  margin-top: 2px;
  font-size: 30px;
  color: Green;
  margin-left: 13px;
}
.hwct{
  text-align:left;
}
.hwct2{
  text-align:center;
}
.hwct2{
  text-align:right;
}
.cm1{
  text-align: justify;
  text-align-last: center;
}
.imgs
{
  height: 900px;
}
.lohh3{
  font-size: 40px;
}
.lohp{
  font-size: 25px;
  padding-left: 50px
}
.lohp1{
  font-size: 15px;

}
.in1{
  width: 100%;
}
.imgs1{
  height: 420px;
}





.uk-flex-center{
  padding-right: 80px;
}
.uk-logo{
  width: 200px;
  height: 100px;
  padding-bottom: 25px;
}


.uk-list{
  text-align:justify;
}
.uk-margin-small-right{
  color:green;
}
.fc_fr, .sc_fr, .tc_fr{
  width: 345px;
  height:320px;
}
.fc_sr, .sc_sr, .tc_sr {
  width:345px;
  height:320px;
}

.sec_head{
  margin-top:50px;
}
.thrd_head{
  margin-top:50px;
}

.inner_head1{
  font-weight:bold;
}
.inner_head2{
  font-weight:bold;
}
.inner_head3{
  font-weight:bold;
}
.inner_head4{
  font-weight:bold;
}
.inner_head5{
  font-weight:bold;
}
.inner_head6{
  font-weight:bold;
}


.cards1{
  background-color: yellow;
  border: 2px solid yellow;
  border-radius: 12px;
}
.ics1{
  font-size: 20px;
}
.ncs{
  font-size: 25px;
}
.ptmt{
  margin-top: 6px;
}
.ptmtb{
  margin-top:30px;
}
.swc1 a{
  font-size: 30px;
}
.bsc{
  margin-top: 30px;
}
.wucush{
  margin-top: 30px;

}
.wucush1{
  font-size: 50px;
}
.btns1{
  background-color: green;
}
.btns1:hover{
  background-color: #26ae60;
}
.btnsp1{
  color: white;
  font-size: 20px;
}
.tourbsi1{
  margin-left: 20%;
}
.img101{
  height: 270px;
  // width: 300px;
  border-radius: 12%;
}
.img102{
  height: 270px;
  // width: 300px;
  border-radius: 15%;
}
// .uk-grid{
//   margin-top: 50px
// }
.uk-grid-small{
  margin-left: 0;

  
}
.uk-switcher{
  // margin-left:
}
.mrtcard1{
  margin-top: 30px;
  margin-left: 0;
}
.mrtcard2{
  margin-top: 30px;
}

.uk-icon{
  color: #019031;
  visibility: visible;
}

.uk-slidenav-position .uk-slidenav {
    display: block;
}

.mrtcard3{
  margin-top: 30px;
}
@media screen and (min-device-width: 281px) and (max-device-width: 768px) {
   .comh2{
     margin-top: 20px;
     margin-left: 10px;
     margin-right: 10px;
   }
   .comh1{
     margin-top: 20px;
     margin-left: 10px;
     margin-right: 10px;
   }
   .comh3{
     margin-top: 20px;
     margin-left: 10px;
     margin-right: 10px;
   }
}
.foothead{
  background-color: #6351CE;
  color: white;
}
.footheadi{
  color: white;
}
.footbody{
  background-color: #1C2331;
  color: white;
}
.nj{
  color: red;
}
.footbodycon{
  text-decoration: none;
  color: white;
}
.textunder:hover
{
  text-decoration: none;
}
.footerheadings{
  color: white;
  font-size: 25px;
}
.footend{
  background-color: #161C27;
}
.footendh{
  color: white;
}
.footstarth{
  text-align: justify;
  text-align-last:left;
}


/* styles for the nav */
.nbar{
  background-color:	#3CB371;
  position:relative;
  bottom:20px;
}
.log img{
  position:relative;
  top:10px;
  margin-left:100px;

  // height:85px
}
.fstbtn{
  min-height:30px;
  margin:10px;
  position:relative;
  top:25px;
  left:-180px;
  border-radius:5px;
  font-weight:bold;
  background:#ffffff;
  border:1px solid #000000;
  color:#000000;
}
.fstbtn:hover{
  color:#000000;
}
.sndbtn{
  min-height:30px;
  max-width:115px;
  position:relative;
  top:-25px;
  left:5px;
  margin-right:50px;
  border-radius:5px;
  font-weight:bold;
  background:#ffffff;
  border:1px solid #000000;
  color:#000000;
}
.sndbtn:hover{
  color:#000000;
}
.lck{
  padding-right:5px;
  position:relative;
  bottom:0px;
  color:darkgreen;
}

/* styles for the modal */
#modal-sections{
  background-color:#3b5999;
}
hr{ 
  height: 1px;
  color: red;
  margin-left: 50px;
  margin-right: 50px;
  background-color: red;
  border: none;
}

.uk-modal-header{
  height:60px;
  padding-top:30px;
  padding-bottom:12px;
  border-radius:10px;
}

.logoo{
  width: 300px;
  padding-left: 50px;
  padding-bottom: 30px;
  
}
.uk-modal-dialog{
  height:auto;
  width:420px;
  border-radius:10px;
}
.btn1{
  padding-left:20px;
  font-size:30px;
  font-weight:bold;
  border-radius:5px;
  position:relative;
  bottom:4px;
  width:360px;
  height:60px;
}
.btn3{
  position:relative;
  top:5px;
  left:20px;
  width:380px;
  border-radius:5px;
}

.ipt1{
  position:relative;
  left:20px;
  top:-5px;
  width:380px;
  border-radius:5px;
}
.ipt2{
  position:relative;
  left:20px;
  top:12px;
  width:380px;
  border-radius:5px;
}
.ipt3{
  position:relative;
  left:20px;
  top:28px;
  width:380px;
  border-radius:5px;
}

.p1{
  font-size:12px;
  position:relative;
  left:20px;
  top:15px;
  width:380px;
}
.p2{
  font-size:12px;
  position:relative;
  left:20px;
  bottom:18px;
  width:380px;
}

.lnk1{
  width:180px;
  margin-top:8px;
  margin-right:30px;
  position:relative;
  bottom:40px;
  left:20px;
  border-radius:5px;
  background-color:#3b5999;
  color:white;
}
.lnk2{
  width:188px;
  margin-top:8px;
  position:relative;
  bottom:40px;
  border-radius:5px;
  background-color:#dd4b39;
  color:white;
}

.fb{
  position:relative;
  right:16px;
  bottom:2px;
  color:#3b5999;
  background-color:white;
}
.gl{
  position:relative;
  right:12px;
  bottom:2px;
}
.forgot{
  font-size:14px;
  position:relative;
  top:25px;
  left:290px;
}
.lck2{
  position:relative;
  right:5px;
  bottom:3px;
}
.uk-margin{
  margin-bottom:0px;
  margin-top: 30px;
}
.uk-close{
  position:absolute;
  top:-22px;
  left:390px;
  color:black;
  background-color:white;
}

.mtsb{
  margin-top: 60px;
}

.navcol{

  background: rgba(49,140,32,1);
background: -moz-linear-gradient(left, rgba(49,140,32,1) 0%, rgba(119,214,36,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(49,140,32,1)), color-stop(100%, rgba(119,214,36,1)));
background: -webkit-linear-gradient(left, rgba(49,140,32,1) 0%, rgba(119,214,36,1) 100%);
background: -o-linear-gradient(left, rgba(49,140,32,1) 0%, rgba(119,214,36,1) 100%);
background: -ms-linear-gradient(left, rgba(49,140,32,1) 0%, rgba(119,214,36,1) 100%);
background: linear-gradient(to right, rgba(49,140,32,1) 0%, rgba(119,214,36,1) 100%);
  
   margin-bottom: 20;
  height: auto;


}
/* Media Queries for the modal part */
@media screen and (max-width:640px){
  .uk-modal-dialog{
    height:450px;
  }
  .btn1{
    font-size:20px;
    max-width:135px;
  }
  .btn2{
    font-size:20px;
    max-width:135px;
  }
  .ipt1, .ipt2, .ipt3, .ipt4, .ipt5{
    max-width:290px;
  }
  .p1{
    max-width:250px;
  }
  .p3{
    max-width:250px;
  }
  .btn3{
    max-width:290px;
  }
  .btn4{
    max-width:290px;
  }
  .lnk1{
    position:relative;
    left:18px;
    max-width:150px;
  }
  .lnk2{
    max-width:136px;
    position:relative;
    right:5px;
  }
  .lnk3{
    position:relative;
    left:18px;
    max-width:150px;
  }
  .lnk4{
    max-width:136px;
    position:relative;
    right:5px;
  }
  .fb{
    position:relative;
    right:8px;
    bottom:2px;
    color:#3b5999;
    background-color:white;
  }
  .gl{
    position:relative;
    right:5px;
    bottom:2px;
  }
  .forgot{
    position:absolute;
    top:205px;
    left:200px;
  }
  .footstarth{
    text-align: justify;
    text-align-last:center;
  }
}


@media screen and (max-width:320px){
  .uk-modal-dialog{
    height:450px;
  }
  .btn1{
    font-size:20px;
    max-width:135px;
  }
  .btn2{
    font-size:20px;
    max-width:135px;
  }
  .ipt1, .ipt2, .ipt3, .ipt4, .ipt5{
    max-width:290px;
  }
  .p1{
    max-width:250px;
  }
  .p3{
    max-width:250px;
  }
  .btn3{
    max-width:290px;
  }
  .btn4{
    max-width:290px;
  }
  .lnk1{
    position:relative;
    left:18px;
    max-width:150px;
  }
  .lnk2{
    max-width:136px;
    position:relative;
    right:5px;
  }
  .lnk3{
    position:relative;
    left:18px;
    max-width:150px;
  }
  .lnk4{
    max-width:136px;
    position:relative;
    right:5px;
  }
  .fb{
    position:relative;
    right:8px;
    bottom:2px;
    color:#3b5999;
    background-color:white;
  }
  .gl{
    position:relative;
    right:5px;
    bottom:2px;
  }
  .forgot{
    position:absolute;
    top:205px;
    left:200px;
  }
  .footstarth{
    text-align: justify;
    text-align-last:center;
  }
}
