<nav class="uk-navbar-container uk-margin nbar navcol" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo log" href="#"><img src="assets/img/logo3.png" alt="image" /></a>
    </div>

    <div class="uk-navbar-right">
       <ul class="uk-navbar-nav">
           <li>
              <a class="uk-button uk-button-default fstbtn" href="/login">Login</a>
              <a class="uk-button uk-button-default sndbtn" href="#modal-sections" uk-toggle><span class="lck" uk-icon="icon: lock;"></span>Register
                  <div id="modal-sections" uk-modal>
                     <div class="uk-modal-dialog">
                       <a   class=" arrow" href="" uk-icon="icon:  arrow-left"></a>
                        <!--<button class="uk-modal-close-default" type="button" uk-close></button>-->
                        <ul class="uk-modal-header" uk-switcher="animation: uk-animation-fade; toggle: > *">
                            <button class="uk-button uk-button-default btn1" type="button">Register</button>
                        </ul>
                        
                        <ul class="uk-modal-body uk-switcher uk-margin">
                          <li>
                            <form (submit)="onRegisterSubmit()" >
                              <fieldset class="uk-fieldset">
                                  
                                <div class="uk-margin"  [formGroup]="userAddressValidations">

                                    <input class="uk-input ipt1" type="text" placeholder="Enter username"  [(ngModel)]="username" name="username" formControlName="username">
                                    <p *ngIf="userAddressValidations.get('username').hasError('required')">
                                        <!-- <span style="margin-left: 82px; color: red;">First Name is Required!</span> -->
                                    </p>
                                    <p *ngIf="userAddressValidations.get('username').hasError('minlength')">
                                        <span style="margin-left: 65px; color: red;"> Username should be atleast 4 characters long!</span>
                                    </p>
                                
                                    <p *ngIf="userAddressValidations.get('username').hasError('maxlength')">
                                        <span style="margin-left: 65px; color: red;">username can be atmax n characters long!</span>
                                    </p>
                                
                                    <p *ngIf="userAddressValidations.get('username').hasError('pattern')">
                                        <span style="margin-left: 65px; color: red;">  username must follow this pattern!</span>
                                    </p>
                                
 
<!--                 
                                  <input class="uk-input ipt1" type="text" formControlName="username" [(ngModel)]="username" name="username" maxlength="20" placeholder="Enter username"> -->
                      
                                  
<!--                                 
                                <div class="uk-margin"  [formGroup]="userAddressValidations"> -->
                                    <input class="uk-input ipt2" formControlName="mobileNumber" type="number" [(ngModel)]="contact" name="contact" maxlength="10" placeholder="Your mobile number" >
                                    <P  *ngIf="userAddressValidations.get('mobileNumber').hasError('required')">
                                       
                                        <!-- <span style="margin-left: 82px; color: red;">Please fill out this field..</span>    -->
                                    </P>
                                    <P *ngIf="userAddressValidations.get('mobileNumber').hasError('pattern')">
                                     <span style="margin-left: 82px; color: red;">It is not a valid mobile number.</span> 
                                    </P>

                                  <!-- <input class="uk-input ipt2" type="number" [(ngModel)]="contact" name="contact" placeholder="Your mobile number" required  max="9"  pattern="[0-9]{5}[-][0-9]{7}[-][0-9]{1}"> -->
                                 
                                <!-- <div class="uk-margin" [formGroup]="userAddressValidations"> -->
    
                                  <input class="uk-input ipt3" type="password" formControlName="password"  [(ngModel)]="password" name="password"   placeholder="Secure password" >
                                  <p *ngIf="userAddressValidations.get('password').hasError('required')">
                                      <!-- <span style="margin-left: 82px; color: red;">Password is Required!</span> -->
                                  </p>
                                 
                                  <p *ngIf="userAddressValidations.get('password').hasError('minlength')">
                                      <span style="margin-left: 82px; color: red;"> password should be atleast 6 characters long!</span>
                                  </p>
                                  <p *ngIf="userAddressValidations.get('password').hasError('pattern')">
                                      <span style="margin-left: 82px; color: red;">   First Name must follow this pattern!</span>
                                  </p>
                              
                               
                               
                               
                                </div>
                                  <p class="p1">By registering you are agreeing to our Terms & Conditions</p>
                                  <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom btn3" type="submit"><span class="lck2" uk-icon="lock"></span>Register and Play</button>
                                  <p class="p2">Or login in one click</p>
                                  <p uk-margin>
                                    <a class="uk-button uk-button-default lnk1" href="#"><span class="fb" uk-icon="facebook"></span>Facebook</a>
                                    <a class="uk-button uk-button-default lnk2" href="#"><span class="gl" uk-icon="google"></span>Google</a>
                                  </p>
                                

                                
                              </fieldset>
                            </form>
                          </li>
                        </ul>
                        <hr>  


                        <div class="logoo">
                          <img  src=" assets/img/logo1.png">
                        </div>
                        <hr>

                      </div>
                 </div>
              </a>
           </li>
       </ul>
       
   </div>
</nav>
<!-- <div class="border"></div> -->
<div uk-grid>
  <div class="uk-width-auto uk-width-2-3@m">
    <div class="imgh" uk-switcher="animation: uk-animation-fade; toggle: > *">
      <button class="uk-button uk-button-danger">Welcome Bonous</button>
      <button class="uk-button uk-button-danger">Booster Bonous</button>
      <button class="uk-button uk-button-danger">Happy Hour Bonous</button>
    </div>
    <ul class="uk-switcher imghml">
      <li><img class="uk-border-rounded imgs1" src="assets/img/slider1.jpeg" uk-img></li>
      <li><img class="uk-border-rounded imgs1" src="assets/img/slider2.jpeg" uk-img></li>
      <li><img class="uk-border-rounded imgs1" src="assets/img/slider3.jpeg" uk-img></li>
    </ul>
  </div>
  <div class="uk-width-expand cardr cardrl">
    <div class="uk-card uk-card-default uk-width-1-1@m">

      <div class="uk-card-body">
        <p class="lohp">Login in One Click</p>
        <div class="uk-flex uk-flex-center"><button class="uk-button uk-button-danger uk-border-rounded"><i class="fab fa-google-plus"></i> Google Plus</button></div>
        <p class="lohp1">Or Enter Your Details</p>
        <form>
          <div class="uk-margin">
            <div class="uk-inline uk-margin-medium-left">
              <span class="uk-form-icon" uk-icon="icon: user"></span>
              <input name="username" class="uk-input uk-form-large uk-border-rounded" type="text" placeholder="Username">
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-inline uk-margin-medium-left">
              <span class="uk-form-icon" uk-icon="icon: user"></span>
              <input name="phone" class="uk-input uk-form-large uk-border-rounded" type="text" placeholder="Phone">
            </div>
          </div>

          <div class="uk-margin">
            <div class="uk-inline uk-margin-medium-left">
              <span class="uk-form-icon" uk-icon="icon: lock"></span>
              <input name="Password" class="uk-input uk-form-large uk-border-rounded" type="text" placeholder="Password">
            </div>
          </div>
        </form>
        <br>
        <button class="uk-button uk-button-primary uk-width-1-1 uk-border-rounded"><i class="fas fa-lock"></i> Register & Play</button>
      </div>
    </div>
  </div>
</div>

<div class="uk-container-large wucush">
  <br>
  <br>
  <div class="uk-text-center">
    <h2 class="wucush1">Why U Choose US</h2>
    <span class="uk-flex uk-flex-center">
      <hr class="deep-purple accent-2" style="width: 195px;"></span>

    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
      <div>
        <div class="uk-card uk-card-body fc_fr">
          <img data-src="assets/img/design.jpg" width="60" height="60" alt="image" uk-img>
          <h4 class="inner_head1">Best-in-class experience</h4>
          <ul class="uk-list">
            <li><span class="uk-margin-small-right" uk-icon="check"></span>Lightweight & high speed app</li>
            <li><span class="uk-margin-small-right" uk-icon="check"></span>Cash games & Free Tournaments</li>
            <li><span class="uk-margin-small-right" uk-icon="check"></span>Best offers & Unlimited Bonuses</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-body sc_fr">
          <img data-src="assets/img/launch.jpg" width="60" height="60" alt="image" uk-img>
          <h4 class="inner_head2">Lifetime Same Day cash withdrawal</h4>
          <ul class="uk-list">
            <li><span class="uk-margin-small-right" uk-icon="check"></span>Withdraw your winnings instantly</li>
            <li><span class="uk-margin-small-right" uk-icon="check"></span>Payments can be made 24*7</li>
            <li><span class="uk-margin-small-right" uk-icon="check"></span>Valid on bank holidays</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-body tc_fr">
          <img data-src="assets/img/ds.png" width="70" height="80" alt="image" uk-img>
          <h4 class="inner_head3">Best Customer Support</h4>
          <ul class="uk-list">
            <li><span class="uk-margin-small-right" uk-icon="check"></span>Withdraw your winnings instantly</li>
            <li><span class="uk-margin-small-right" uk-icon="check"></span>Payments can be made 24*7</li>
            <li><span class="uk-margin-small-right" uk-icon="check"></span>Valid on bank holidays</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="uk-container-large">
  <ul class="mtsb" uk-tab>
    <li class="swc1"><a href="#">Cash Games</a></li>
    <li class="swc1"><a href="#">Tournaments</a></li>
    <li class="swc1 uk-visible@l"><a href="#">Practice</a></li>
  </ul>

  <ul class="uk-switcher uk-margin">
    <li>
      <div class="uk-text-center " uk-grid>
        <div uk-slider>

          <div class="uk-position-relative uk-visible-toggle" tabindex="-1">
            <ul class="uk-slider-items uk-slider-items uk-child-width-1-4@m uk-grid">
              <li class="mrtcard1">
                <div class="uk-width-1-1@s">
                  <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                    <img class="uk-border-rounded img101" src="assets/img/card1.jpg" alt="image of game">
                    <div class="uk-margin-top cards1">
                      <span class="uk-float-left">Point Values</span>
                      <span><i class="fas fa-rupee-sign ics1"></i></span>
                      <span class="uk-float-right">0.1 to 40</span>
                    </div>
                    <div class="ptmt">
                      <span class="uk-float-left"><span class="ncs">6</span> Players table</span>
                      <span class="uk-float-right"><span class="ncs">1317</span> Online</span>
                    </div>
                    <br>
                    <a class="btns1 uk-margin-top uk-button uk-button-primary uk-width-1-1 uk-border-rounded" href="/lobby"><span class="btnsp1">Play & Win</span></a>
                  </div>
                </div>
              </li>
              <li class="mrtcard2">
                <div class="uk-width-1-1@s">
                  <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                    <img class="img101" src="assets/img/card2.jpg" alt="image of game">
                    <div class="uk-margin-top cards1">
                      <span class="uk-float-left">Point Value</span>
                      <span><i class="fas fa-rupee-sign ics1"></i></span>
                      <span class="uk-float-right">0.1 to 40</span>
                    </div>
                    <div class="ptmt">
                      <span class="uk-float-left"><span class="ncs">6</span> Players table</span>
                      <span class="uk-float-right"><span class="ncs">1317</span> Online</span>
                    </div>
                    <br>
                    <a class="btns1 uk-margin-top uk-button uk-button-primary uk-width-1-1 uk-border-rounded" href="/lobby"><span class="btnsp1">Play & Win</span></a>
                  </div>
                </div>
                <br>
                <br>
              </li>
              <li class="mrtcard2">
                <div class="uk-width-1-1@s">
                  <div class="uk-card uk-card-default uk-card-body  uk-border-rounded">
                    <img class="uk-border-rounded img101" src="assets/img/deal.jpg" alt="image of game">
                    <div class="uk-margin-top cards1">
                      <span class="uk-float-left">Point Value</span>
                      <span><i class="fas fa-rupee-sign ics1"></i></span>
                      <span class="uk-float-right">0.1 to 40</span>
                    </div>
                    <div class="ptmt">
                      <span class="uk-float-left"><span class="ncs">6</span> Players table</span>
                      <span class="uk-float-right"><span class="ncs">1317</span> Online</span>
                    </div>
                    <br>
                    <a class="btns1 uk-margin-top uk-button uk-button-primary uk-width-1-1 uk-border-rounded" href="/lobby"><span class="btnsp1">Play & Win</span></a>
                  </div>
                </div>
              </li>
              <li class="mrtcard3">
                <div class="uk-width-1-1@s">
                  <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                    <img class="img102" src="assets/img/point.jpg" alt="image of game">
                    <div class="uk-margin-top cards1">
                      <span class="uk-float-left">Point Value</span>
                      <span><i class="fas fa-rupee-sign ics1"></i></span>
                      <span class="uk-float-right">0.1 to 40</span>
                    </div>
                    <div class="ptmt">
                      <span class="uk-float-left"><span class="ncs">6</span> Players table</span>
                      <span class="uk-float-right"><span class="ncs">1317</span> Online</span>
                    </div>
                    <br>
                    <a class="btns1 uk-margin-top uk-button uk-button-primary uk-width-1-1 uk-border-rounded" href="/lobby"><span class="btnsp1">Play & Win</span></a>
                  </div>
                </div>
              </li>

            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

          </div>



        </div>
      </div>
    </li>
    <li class="mrtcard1">
      <div class="uk-width-1-1@s uk-width-1-4@l uk-width-1-4@m">
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
          <div class="uk-flex uk-flex-center">
            <div><img class="uk-border-rounded img102" src="assets/img/point.jpg" alt="image of game"></div>
          </div>

          <div class="uk-margin-top cards1">
            <span class="uk-float-left">Point Value</span>
            <span class="tourbsi1"><i class="fas fa-rupee-sign ics1"></i></span>
            <span class="uk-float-right">0.1 to 40</span>
          </div>
          <div class="ptmt">
            <span class="uk-float-left"><span class="ncs">6</span> Players table</span>
            <span class="uk-float-right"><span class="ncs">1317</span> Online</span>
          </div>
          <br>
          <a class="btns1 uk-margin-top uk-button uk-button-primary uk-width-1-1 uk-border-rounded" href="/lobby"><span class="btnsp1">Play & Win</span></a>
        </div>
      </div>
    </li>
    <li>
      <div class="uk-child-width-1-4 uk-grid-small uk-text-center" uk-grid>
        <div class="mrtcard1">
          <div class="uk-card uk-card-default uk-card-body">
            <img class="img101" src="assets/img/card1.jpg" alt="image of game">
            <div class="uk-margin-top cards1">
              <span class="uk-float-left">Point Value</span>
              <span><i class="fas fa-rupee-sign ics1"></i></span>
              <span class="uk-float-right">0.1 to 40</span>
            </div>
            <div class="ptmt">
              <span class="uk-float-left"><span class="ncs">6</span> Players table</span>
              <span class="uk-float-right"><span class="ncs">1317</span> Online</span>
            </div>
            <br>
            <a class="btns1 uk-margin-top uk-button uk-button-primary uk-width-1-1 uk-border-rounded" href="/lobby"><span class="btnsp1">Play & Win</span></a>
          </div>
        </div>
        <div class="mrtcard2">
          <div class="uk-card uk-card-default uk-card-body">
            <img class="img101" src="assets/img/card2.jpg" alt="image of game">
            <div class="uk-margin-top cards1">
              <span class="uk-float-left">Point Value</span>
              <span><i class="fas fa-rupee-sign ics1"></i></span>
              <span class="uk-float-right">0.1 to 40</span>
            </div>
            <div class="ptmt">
              <span class="uk-float-left"><span class="ncs">6</span> Players table</span>
              <span class="uk-float-right"><span class="ncs">1317</span> Online</span>
            </div>
            <br>
              <a class="btns1 uk-margin-top uk-button uk-button-primary uk-width-1-1 uk-border-rounded" href="/lobby"><span class="btnsp1">Play & Win</span></a>
          </div>
        </div>
        <div class="mrtcard2">
          <div class="uk-card uk-card-default uk-card-body">
            <img class="img101" src="assets/img/deal.jpg" alt="image of game">
            <div class="uk-margin-top cards1">
              <span class="uk-float-left">Point Value</span>
              <span><i class="fas fa-rupee-sign ics1"></i></span>
              <span class="uk-float-right">0.1 to 40</span>
            </div>
            <div class="ptmt">
              <span class="uk-float-left"><span class="ncs">6</span> Players table</span>
              <span class="uk-float-right"><span class="ncs">1317</span> Online</span>
            </div>
            <br>
              <a class="btns1 uk-margin-top uk-button uk-button-primary uk-width-1-1 uk-border-rounded" href="/lobby"><span class="btnsp1">Play & Win</span></a>
          </div>
        </div>
        <div class="mrtcard3">
          <div class="uk-card uk-card-default uk-card-body">
            <img class="img102" src="assets/img/point.jpg" alt="image of game">
            <div class="uk-margin-top cards1">
              <span class="uk-float-left">Point Value</span>
              <span><i class="fas fa-rupee-sign ics1"></i></span>
              <span class="uk-float-right">0.1 to 40</span>
            </div>
            <div class="ptmt">
              <span class="uk-float-left"><span class="ncs">6</span> Players table</span>
              <span class="uk-float-right"><span class="ncs">1317</span> Online</span>
            </div>
            <br>
              <a class="btns1 uk-margin-top uk-button uk-button-primary uk-width-1-1 uk-border-rounded" href="/lobby"><span class="btnsp1">Play & Win</span></a>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <br>
</div>






<div class="uk-text-center">
  <h2 class="wucush1">Client Testimonials</h2>
  <span class="uk-flex uk-flex-center">
    <hr class="deep-purple accent-2" style="width: 195px;"></span>
</div>
<div class="uk-grid">
  <div class="uk-width-1-3@l uk-width-1-1@s comh1">
    <div>
      <div class="uk-card uk-card-default uk-card-large uk-card-body uk-box-shadow-large">
        <h3 class="uk-card-title uk-flex uk-flex-center"><i class="fas fa-quote-right"></i></h3>
        <p class="cm1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="uk-flex uk-flex-center"><img src="assets/img/1.png" alt="image of game"></div>
        <p class="uk-card-title uk-flex uk-flex-center">Fouad Badawy</p>
      </div>
    </div>
  </div>
  <div class="uk-width-1-3@l uk-width-1-1@s comh2">
    <div>
      <div class="uk-card uk-card-default uk-card-large uk-card-body uk-box-shadow-large">
        <h3 class="uk-card-title uk-flex uk-flex-center"><i class="fas fa-quote-right"></i></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="uk-flex uk-flex-center"><img src="assets/img/1.png" alt="image of game"></div>
        <p class="uk-card-title uk-flex uk-flex-center">Fouad Badawy</p>
      </div>
    </div>
  </div>
  <div class="uk-width-1-3@l uk-width-1-1@s comh3">
    <div>
      <div class="uk-card uk-card-default uk-card-large uk-card-body uk-box-shadow-large ">
        <h3 class="uk-card-title uk-flex uk-flex-center"><i class="fas fa-quote-right"></i></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="uk-flex uk-flex-center"><img src="assets/img/1.png" alt="image of game"></div>
        <p class="uk-card-title uk-flex uk-flex-center">Fouad Badawy</p>
      </div>
    </div>
  </div>
</div>

<br>

<!---------------------------------------Footer------------------------------------------------------>

<div class="uk-card uk-width-1-1">
  <div class="uk-card-header foothead">
    <nav class="" uk-navbar>
      <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
          <li>Get Connected to the Social Media</li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li><a href=""><i class="fab fa-facebook-f footheadi"></i></a></li>
          <li><a href=""><i class="fab fa-twitter footheadi"></i></a></li>
          <li><a href=""><i class="fab fa-google-plus-g footheadi"></i></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="uk-card-body footbody">
    <div class="uk-grid">
      <div class="uk-width-1-3@l uk-width-1-1@s comh1">
        <div>
          <div class="uk-card">
            <h3 class="uk-card-title uk-flex uk-flex-center footerheadings">Company</h3>
            <div class="uk-flex uk-flex-center"><hr class="deep-purple accent-2 ftll" style="width: 115px;"></div>
            <p class="uk-margin-top  footstarth">AAARummyculture.com offers is your go to app for Cash rummy games online. If offers best-in-class playing experience, highest welcome bonus, free and multilingual customer support and complete digital safety. Play on the website or
              the Android App.</p>
              <p class="footstarth"><i class="fas fa-envelope"></i> aaarummy@gmail.com</p>
              <p class="footstarth"><i class="fas fa-phone"></i> 1900-000-9999</p>
          </div>
        </div>
      </div>
      <div class="uk-width-1-3@l uk-width-1-1@s comh1">
        <div>
          <div class="uk-card">
            <h3 class="uk-card-title uk-flex uk-flex-center footerheadings">Quick Links</h3>
            <div class="uk-flex uk-flex-center"><hr class="deep-purple accent-2 ftll" style="width: 115px;"></div>
            <p class="cm1"><a class="textunder" href=""><span class="footbodycon">About</span></a></p>
            <p class="cm1"><a class="textunder" href=""><span class="footbodycon">Blog</span></a></p>
            <p class="cm1"><a class="textunder" href=""><span class="footbodycon">Contact Us</span></a></p>
            <p class="cm1"><a class="textunder" href=""><span class="footbodycon">About Us</span></a></p>
          </div>
        </div>
      </div>
      <div class="uk-width-1-3@l uk-width-1-1@s comh1">
        <div>
          <div class="uk-card">
            <h3 class="uk-card-title uk-flex uk-flex-center footerheadings">Links</h3>
            <div class="uk-flex uk-flex-center"><hr class="deep-purple accent-2 ftll" style="width: 85px;"></div>
            <p class="cm1"><a class="textunder" href=""><span class="footbodycon">Offers</span></a></p>
            <p class="cm1"><a class="textunder" href=""><span class="footbodycon">Referrals</span></a></p>
            <p class="cm1"><a class="textunder" href=""><span class="footbodycon">How to Play</span></a></p>
            <p class="cm1"><a class="textunder" href=""><span class="footbodycon">Terms of Service</span></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-card-footer footend">
    <h3 class="uk-card-title uk-flex uk-flex-center footendh">&copy; AAARummyculture.All Right Reserved</h3>
  </div>
</div>
<script>
  var app = angular.module('myApp', []);

  app.controller('mainCtrl', function($scope) {
    $scope.phoneNumbr = /^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/;
  });
</script>