<div class="uk-grid backcard1">
    <div class="uk-width-1-5 buttonleft  " style="margin-top: 100px">
      <div    uk-switcher="animation: uk-animation-fade; toggle:  > *">
       <button  onclick="window.location.href ='/middlepart';" class="uk-button uk-button-default  uk-margin-left uk-margin-top   data-uk-button active"   style="width:65%; ">
          
          
     <img   class="img-responsive shadow" width="30px" height=" 20px" src="assets/img/tr1.png">   CashGames</button> <br>
        <button class="uk-button uk-button-default  uk-margin-left uk-margin-top  target" style="width:65%;">
            <img class="img-responsive shadow" width="30px" height=" 20px" src="assets/img/tr2.png"> Tournaments</button><br>
             <button     onclick="window.location.href ='./middlepart';" class="uk-button uk-button-default  uk-margin-left uk-margin-top focus" style="width:65%; ">
            <img  class="img-responsive shadow" width="30px" height=" 20px" src="assets/img/tr3.png"> Practice</button><br>
        <!-- <button class="uk-button uk-button-default  btng uk-margin-top" style="width:54%">Game 1</button><br>
        <button class="uk-button uk-button-default  btng uk-margin-top" style="width:54%;">Game 2</button><br>
        <button class="uk-button uk-button-default  btng uk-margin-top" style="width:54%;">Ga me 3</button><br> -->
      </div>
    </div>
</div>





