<div class="uk-grid backcard1">
    <div class="uk-width-1-5 buttonleft">
      <div uk-switcher="animation: uk-animation-fade; toggle: > *">
        <button class="uk-button uk-button-default  uk-margin-left uk-margin-top" style="width:60%;">
          
          
      <img   width="40px" height=" 40px" src="assets/img/tr1.png">   CashGames</button><br>
        <button class="uk-button uk-button-default  uk-margin-left uk-margin-top" style="width:60%;">
            <img   width="40px" height=" 40px" src="assets/img/tr2.png"> Tournaments</button><br>
        <button class="uk-button uk-button-default  uk-margin-left uk-margin-top" style="width:60%;">
            <img   width="40px" height=" 40px" src="assets/img/tr3.png"> Practice</button><br>
        <button class="uk-button uk-button-default  btng uk-margin-top" style="width:45%;">Game 1</button><br>
        <button class="uk-button uk-button-default  btng uk-margin-top" style="width:45%;">Game 2</button><br>
        <button class="uk-button uk-button-default  btng uk-margin-top" style="width:45%;">Game 3</button><br>
      </div>
    </div>
</div>




