.buttonleft button{
  margin-top: 13px;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  color: white;
  // font-size: 10px;
  border-radius: 5px;
  padding-left: 30px;
}
// .uk-grid{
//   padding-top: 20px;
// }c   
// .uk-button-default{
//   margin-left: 15px;
// }
