<div *ngIf="user">
  <div class="navbarcard">
      <nav class="uk-navbar-container uk-navbar navh" style="background-color:#3B5902;">
        <div class="uk-navbar-left">
          <li><a routerLink="/home" class="uk-navbar-item uk-logo navlogo" style="margin-left:555px;"><img src="assets/img/logo3.png" uk-img></a></li>
        </div>
  
        <div class="uk-navbar-right">
  
          <ul class="uk-navbar-nav" >
              <img   class=" uk-navbar-subtitle  uk-position-left  left-img" src="user.profile.picture">
            <li class="profilenav">
              <div>
                <div class="profile" uk-toggle="target: #offcanvas-overlay">
  
                <span class="headnav  uk-position-left uk-margin-left" style="color:white;"><b>Welcome</b></span>
  
                  <div class=" uk-position-left uk-margin-left  headnav1" style="color:white; top:40px;"> <span><b>{{user.username|uppercase}}</b></span></div>
                </div>
              </div>
            </li>
        
  
            <li class="cashnav">
                
              <div>
              
                <span class="headnav" style="color:white;">Cash</span>
                <div class="uk-navbar-subtitle" style="color:white;">0</div>
              </div>
            </li>
            <li class="addnav">
              <button class="uk-button uk-button-default" href="#modal-sections" uk-toggle><i class="fas fa-plus-circle"></i><span class="headnav add" style="color:white;">ADD CASH</span></button>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  
    <div id="modal-sections" uk-modal>
      <div class="uk-modal-dialog ug  modaladd">
        <button class="uk-modal-close-default closebtn" type="button" uk-close></button>
        <div class="uk-modal-header ug">
          <h2 class="uk-modal-title">Cash Account</h2>
        </div>
        <div class="uk-modal-body" uk-overflow-auto>
            <ul uk-accordion>
              <li>
                <a class="uk-accordion-title" href="#">Balance</a>
                <div class="uk-accordion-content">
                  <span class="uk-float-left">Deposit</span>
                  <span class="ulc">Withdrawable</span>
                  <span class="uk-float-right">Total</span><br>
                  <span class="uk-float-left">&#x20b9;0</span>
                  <span class="ulcs">&#x20b9;0</span>
                  <span class="uk-float-right">&#x20b9;0</span>
  
                  
                  <!-- <p><button class="uk-button uk-button-danger uk-border-rounded uk-align-center">Add Cash</button></p> -->
  
                  <!-- This is a button toggling the modal -->
  <button class="uk-button uk-button-default uk-margin-small-right" type="button"  uk-toggle="target: #modal-center">Add Cash</button>
  
  <!-- <a class="uk-button uk-button-default" href="#modal-center" uk-toggle>Open</a> -->
  
  <div id="modal-center" class="uk-flex-top" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical    addcash-pp">
  
          <button class="uk-modal-close-default   ukcls" type="button" uk-close></button>
  
  
  
          <div class=" adcash-box">
            <div class="ad-box">
                <!-- <button class="buton">Back</button> -->
            <h5>Add Cash</h5>
            <!-- <button>Back</button> -->
            </div>
  
  <hr>
              <div class="uk-child-width-1-2@s" uk-grid>
                
                  <div>
                      <div class="uk-card uk-card-default  uk-card-large uk-card-body">
                          
                           <h4><b>1. Select Your Amount to add</b></h4>
                           <button class="uk-button uk-button-primary uk-bu3">100</button>
                           <button class="uk-button uk-button-primary uk-bu3">200</button>
                           <button class="uk-button uk-button-primary uk-bu3">500</button>
                           <button class="uk-button uk-button-primary uk-bu">1000</button>
                           <button class="uk-button uk-button-primary uk-bu">2000</button>
                           <button class="uk-button uk-button-primary uk-bu">5000</button>
  
                           <h4><b>Amount to be added (Max ₹ 50,000)</b></h4>
                           <!-- <button class="uk-button uk-button-default uk-button-small  conbut1"></button> -->
                           <div class="uk-margin">
                            <input class="uk-input uk-form-success uk-form-width-medium conbut1" type="text" placeholder=" min-100rupees">
                        </div>
                        
  
  
  
                      
                           
                        </div>
                  </div>
                  <div>
                      <div class="uk-card uk-card-default uk-card-small uk-card-body">
                        <h4>2. Select your bonus</h4>
                        <button class="uk-button uk-button-primary uk-bu1">10%</button>
                        <span style="margin-left: 50px">min:200</span>
                           <button class="uk-button uk-button-primary uk-bu1">15%</button>
                           <span style="margin-left: 50px">min:500</span>
                           <button class="uk-button uk-button-primary uk-bu1">25%</button>
                           <span style="margin-left: 50px"  >min:2000</span>
  
  
                        </div>
                  </div>
  
                  <button class="uk-button uk-button-default uk-button-small  confbut">Conform</button>
                  <button class="uk-button uk-button-default uk-button-small  confbut3">Cancel</button>
                  
              </div>
           
  
  
    
        </div>
    
  
  
         
  
  
  
  
  
      </div>
  </div>
  
  <!-- This is an anchor toggling the modal -->
  <!-- <a href="#modal-example" uk-toggle></a> -->
  
  <!-- This is the modal -->
  <div id="modal-close-default" uk-modal>
      <div class="uk-modal-dialog uk-modal-body  addch">
          <button class="uk-modal-close-default   plycls" type="button" uk-close></button>
          <!-- <h2 class="uk-modal-title">Add Cash</h2> -->
          <h2>Add Cash</h2>
          <hr>
        
        <div class="box">
            <div class="borbx">
              <p><b>25</b></p>
              <p>ENTRY FEE</p>
            </div>
            <div class="borbox1">
                <span> <b>open table:0/6</b> </span>
    <button class="uk-button uk-button-default uk-button-small"> Add Cash</button>
    <p><span> <b>576 Players online</b> </span></p>
    </div> 
            </div>
            
            <div class="box">
                <div class="borbx">
                    <p><b>50</b></p>
                    <p>ENTRY FEE</p>
                  </div>
                  <div class="borbox1">
                      <span> <b>open table:0/6</b> </span>
                      <button class="uk-button uk-button-default uk-button-small"> Add Cash</button>
                      <p><span> <b>576 Players online</b> </span></p>
                      </div> 
              
            </div>
            <div class="box">
                <div class="borbx">
                    <p><b>100</b></p>
                    <p>ENTRY FEE</p>
                  </div>
                  <div class="borbox1">
                      <span> <b>open table:0/6</b> </span>
                      <button class="uk-button uk-button-primary uk-button-small"> Add Cash</button>
                      <p><span> <b>576 Players online</b> </span></p>
                      </div> 
    
    
              </div>
              
              <div class="box">
                  <div class="borbx">
                      <p><b>250</b></p>
                      <p>ENTRY FEE</p>
                    </div>
                    <div class="borbox1">
                        <span> <b>open table:0/6</b> </span>
                        <button class="uk-button uk-button-default uk-button-small"> Add Cash</button>
                        <p><span> <b>576 Players online</b> </span></p>
                        </div> 
                
              </div>
  
              <div class="box">
                  <div class="borbx">
                      <p><b>500</b></p>
                      <p>ENTRY FEE</p>
                    </div>
                    <div class="borbox1">
                        <span> <b>open table:0/6</b> </span>
                        <button class="uk-button uk-button-default uk-button-small"> Add Cash</button>
                        <p><span> <b>576 Players online</b> </span></p>
                        </div> 
                
                </div>
                <div class="box">
                    <div class="borbx">
                        <p><b>1000</b></p>
                        <p>ENTRY FEE</p>
                      </div>
                      <div class="borbox1">
                          <span> <b>open table:0/6</b> </span>
                          <button class="uk-button uk-button-default uk-button-small"> Add Cash</button>
                          <p><span> <b>576 Players online</b> </span></p>
                          </div> 
                
                  </div>
                  <div class="box bx">
                      <div class="borbx">
                          <p>2000</p>
                          <p>ENTRY FEE</p>
                        </div>
                        <div class="borbox1">
                            <span> <b>open table:0/6</b> </span>
                            <button class="uk-button uk-button-default uk-button-small"> Add Cash</button>
                            <p><span> <b>576 Players online</b> </span></p>
                            </div> 
                
                    </div>
  
  
  
  
  
  
  
  
  
  
      </div>
  </div>
                  <!-- <button class="uk-button uk-button-default" href="#modal-sections" uk-toggle><i class="fas fa-plus-circle"></i><span class="headnav add" style="color:white;">ADD CASH</span></button> -->
                <p>  <span>Your Money is always safe with us. Refer your account statement anytime to track your transactions.</span></p>
                </div>
              </li>
              <li>
                <a class="uk-accordion-title" href="#">Account Statement</a>
                <div class="uk-accordion-content">
                  <div class="uk-overflow-auto uk-height-small">
                    <table class="uk-table">
                      <thead>
                        <tr>
                          <th>Date Description</th>
                          <th>Amount</th>
                          <th>Balance</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Table Data</td>
                          <td>Table Data</td>
                          <td>Table Data</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </li>
              <li>
                <a class="uk-accordion-title" href="#">Withdrawals</a>
                <div class="uk-accordion-content">
                  <div class="uk-overflow-auto uk-height-small">
                    <table class="uk-table uk-text-nowrap">
                      <thead>
                        <tr>
                          <th>Id Date</th>
                          <th>Amount Details</th>
                          <th>Amount Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Table Data</td>
                          <td>Table Data</td>
                          <td>Table Data</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </li>
              <li>
                <a class="uk-accordion-title" href="#">TDS</a>
                <div class="uk-accordion-content">
                  <div class="uk-overflow-auto uk-height-small">
                    <table class="uk-table">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Description</th>
                          <th>TDS Amount</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Table Data</td>
                          <td>Table Data</td>
                          <td>Table Data</td>
                          <td>Table Data</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </li>
              <li>
                <a class="uk-accordion-title" href="#">Contact Us</a>
                <div class="uk-accordion-content">
                  <p>For any concern, please connect to us at 18001202188 between 11am and 10pm.</p>
                  <p>write to us at support@rummyculture.com</p>
                </div>
              </li>
            </ul>
          </div>
      </div>
    </div>
  
    <div id="offcanvas-overlay" uk-offcanvas="overlay: true">
      <div class="uk-offcanvas-bar">
  
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <!-- <div class="uk-modal "> -->
        <h3 class="modalprof">Profile</h3>
        <hr>
        <!-- </div> -->
        <ul uk-accordion>
          <li>
           <a class="uk-accordion-title "  href="#">Personal Details     </a>
           <a class="edit " href="#offcanvas-usages" uk-icon="icon:  pencil" uk-toggle></a>
            <div id="offcanvas-usages" uk-offcanvas>
                <div class="uk-offcanvas-bar navp">
  
                  <button class="uk-offcanvas-close" type="button" uk-close></button>
           <h3>Edit datials</h3>
           <form (submit)="onEditSubmit()"  #myform="ngForm"  >
               <div class="uk-margin">
                   <input class="uk-input uk-form-width-large" type="text"    [(ngModel)]="Fullname"name="Fullname" minlength="5" placeholder="FULL NAME" required="required"     maxlength="20" pattern="^[a-zA-Z ]*$" #control1="ngModel">
                   <span class="error"*ngIf="control1.touched && control1.invalid && control1.errors.required">Full Name
                   can't be blank</span>
                   <span class="error" *ngIf="control1.touched && control1.invalid && control1.errors.minlength">Min: 4
                   characters</span>
                   <span class="error" *ngIf="control1.touched && control1.invalid && control1.errors.pattern">Alphabets only
                   allowed</span>
                   <br>
                   
               </div>
               <div class="uk-margin">
                   <input class="uk-input uk-form-width-large" type="text" [(ngModel)]="Email" name="Email" placeholder="EMAIL" minlength="5" maxlength="20"
                    #control3="ngModel">
                   <span class="error"*ngIf="control3.touched && control3.invalid && control3.errors.required">Email can't
                   be blank</span>
                   <span class="error"*ngIf="control3.touched && control3.invalid && control3.errors.pattern">Email is not
                   valid</span>
                   <br>
               </div>
  
                <div class="uk-margin">
                   <input class="uk-input uk-form-width-large" type="text"  [(ngModel)]="Mobilenumber" name="Mobilenumber"placeholder="MOBILENUMBER" pattern="^[0-9]*$"
                   #control4="ngModel">
                   <span class="error"  *ngIf="control4.touched && control4.invalid && control4.errors.required">Mobile Number
                   can't be blank</span>
                   <span class="error" *ngIf="control4.touched && control4.invalid && control4.errors.pattern">Alphabets
                   not allowed</span>
                   <br>
               </div>
            
           
  
  
  
  
  
  
               
               <p class="uk-margin">
                   <button class="uk-button  uk-button-default" type="submit">Save</button>
  
  
               </p>
               
               
           </form>
  
          
  
         </div>
       </div>
     <hr class="divline">
     <div class="uk-accordion-content">
        <p>Display Name:-{{user.username|uppercase}}</p>
        <hr>
        <p>Fullname:-{{Edit.Fullname| uppercase}}</p>
        <hr>
        <p>Email:{{Edit.Email| uppercase}}   </p>
        <hr>
       <p>Mobilenumber:-{{user.contact | uppercase}}</p>
       <hr>
      
  
     </div>
   </li>
   <li>
  
  
     <a class="uk-accordion-title" href="#">KYC Documents </a>
    
  
  
     <a class="edit"href="#offcanvas-usage"  uk-icon="icon:  pencil"uk-toggle></a>
  
  <div id="offcanvas-usage" uk-offcanvas>
  <div class="uk-offcanvas-bar">
  
   <button class="uk-offcanvas-close" type="button" uk-close></button>
  
   <h3>Edit  Personal Details</h3>
  <form (submit)="onEditSubmit()"  action="/addnew">



       <div class="uk-margin">
     <input class="uk-input uk-form-width-large"  [(ngModel)]="Pan"type="text" name="Pan" required="required"     minlength="5" maxlength="10"  placeholder="Pan Number" pattern="^[0-9]*$"
     #control5="ngModel">
     <span class="error"  *ngIf="control5.touched && control5.invalid && control5.errors.required">Pan Number
     can't be blank</span>
     <span class="error" *ngIf="control5.touched && control4.invalid && control5.errors.pattern">Alphabets
     not allowed</span>
     <br>
  </div>
  
  <div class="uk-margin">
     <input class="uk-input uk-form-width-large"  [(ngModel)]="AdharNumber" type="text"  name="AdharNumber"placeholder="Adhar Number" minlength="8" maxlength="20" pattern="^[0-9]*$"
     #control6="ngModel">
     <span class="error"  *ngIf="control6.touched && control6.invalid && control6.errors.required">Adhar Number
     can't be blank</span>
     <span class="error" *ngIf="control6.touched && control6.invalid && control6.errors.pattern">Alphabets
     not allowed</span>
     <br>
  </div>
  
  <div class="uk-margin">
     <input class="uk-input uk-form-width-large" type="text" [(ngModel)]="BankAccount" name="BankAccount"   minlength="8" maxlength="20"    placeholder="Bank Account"  pattern="^[0-9]*$"
     #control7="ngModel">
     <span class="error"  *ngIf="control7.touched && control4.invalid && control7.errors.required"> BankAccount
     can't be blank</span>
     <span class="error" *ngIf="control7.touched && control7.invalid && control7.errors.pattern">Alphabets
     not allowed</span>
     <br>
  </div>
  
     <button class="uk-button uk-button-default" type="submit">Save</button>
  
  
  </form> 
  
  
  </div>
  </div>
  
  
     <hr class="divline">
     
  
  
     <div class="uk-accordion-content">
       <p>AdharNumber :<span style="color:white"><b>{{Edit.AdharNumber}}</b></span></p>
       <hr>
       <p>PAN:        <span style="color:white"><b>{{Edit.Pan}}</b></span></p>
       <hr>
       <p>BankAccount: <span style="color:white"><b>{{Edit.BankAccount}}</b></span></p>
              <hr>
              <p>NOTE: Do NOT send any documents over email. Upload them here only.</p>
              <p>Term & conditions</p>
            </div>
          </li>
          <!-- <li>
            <a class="uk-accordion-title" href="#">Security</a>
            <div class="uk-accordion-content">
              <p>Great! You are currently logged in.</p>
              <!-- <p><a class="uk-button uk-button-danger uk-border-rounded uk-align-center" (click)="onLogoutClick()" href="#">Log Out</a></p> -->
            <!-- </div>
          </li> --> 
          <li>
            <a class="uk-accordion-title" href="#">Contact us</a>
            <hr class="divline"> 
           
            <div class="uk-accordion-content">
              <p>For any concern, please connect to us at 18001202188 between 11am and 10pm.</p>
              <p>write to us at support@rummyculture.com</p>
            </div>
          </li>
         <li>
            <p><a class="uk-button uk-button-danger uk-border-rounded uk-align-center" (click)="onLogoutClick()" href="#">Log Out</a></p>
  
         </li>
  
  
        </ul>
      </div>
    </div>
  </div>
  