<section>
  <app-nav></app-nav>
  <app-leftbtn></app-leftbtn>
  <app-btndownbanner></app-btndownbanner>
</section>
<div class="backcard1">
   <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid style="margin-left:15px;">
     <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-width-1-6 card1mid" style="width:22%; margin:-17px 10px 10px 25px; height:373px; border-radius:15px;">
       <div class="uk-card-media-top">
        <a href="/game"> <img src="assets/img/card1.jpg" alt="image of game"></a>
       </div>



<!-- poppup box 101 -->

<!-- .game-card:hover {
  cursor: pointer;
  box-shadow: 0 0 30px #ff0; -->








       <div class="uk-card-body">
          <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-close-default" style="   color: white;; background-color: green;border-radius:10px;">play</button>
         <!-- <div class="uk-flex uk-flex-center buttonselect"><a class="uk-button uk-button-primary" routerLink="/game" style="border-radius:10px;"></a></div> -->
       </div>
     </div>
     <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-width-1-6 card1mid" style="width:22%; margin:-17px 10px 10px 9px;height:373px;  border-radius:15px;">
       <div class="uk-card-media-top">
        <a href="/game"> <img src="assets/img/card2.jpg" alt="image of game"></a>
       </div>
       <div class="uk-card-body">
         <div class="uk-flex uk-flex-center buttonselect"><a class="uk-button uk-button-primary" routerLink="/game" style="border-radius:10px;">Play</a></div>
       </div>
     </div>
     <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-width-1-6 card1mid" style="width:22%; margin:-17px 10px 10px 9px; height:373px; border-radius:15px">
       <div class="uk-card-media-top">
       <a href="/game">  <img src="assets/img/deal.jpg" alt="image of game"></a>
       </div>
       <div class="uk-card-body">
         <div class="uk-flex uk-flex-center buttonselect"><a class="uk-button uk-button-primary" routerLink="/game" style="border-radius:10px;">Play</a></div>
       </div>
     </div>
     <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-width-1-6 card1mid" style="width:22%; margin:-17px 10px 10px 9px; height:373px; border-radius:15px;">
       <div class="uk-card-media-top">
        <a href="/game"> <img src="assets/img/point.jpg" alt="image of game"></a>
       </div>
       <div class="uk-card-body">
         <div class="uk-flex uk-flex-center buttonselect"><a class="uk-button uk-button-primary" routerLink="/game" style="border-radius:10px;">Play</a></div>
       </div>
     </div>
   </div>
 </div>
