.backcard1{
  background-size: cover;
  margin-left:13%;
  border: 1px solid lime;
  position:absolute;
  top:15%;
  width:80vw;
  height:80vh;
  margin-top: 20px;
  // padding-top: 50px

}
.uk-grid{
  padding-top: 50px;
}


.buttonselect a{
  background-color:green;
  
}
 
.buttonselect a:hover{
  background-color:green;
}
.card1mid{
  background-color: #FFF1D6;
}

.card1mid:hover{
  background-color: #FFF1D6;
}
